* {
    box-sizing: border-box;
    color: white;
    font-family: "VT323", monospace;
}

body {
    background-color: black;
    padding: 30px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    width: 100%;
    background-color: black;
    border: 3px solid white;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 30px;
}

a {
    color: red;
    text-decoration: none;
}

p {
    font-size: 20px;
    text-align: justify;
}